In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
file_path = "Data/"

In [3]:
df = pd.read_excel(f'{file_path}2019 County Health Rankings Data - v3.xls', header=1, sheet_name=5)
df.head()

,FIPS,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),# Deaths,...,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low.16,95% CI - High.16,% Female,# Rural,% Rural
0,1001,Alabama,Autauga,76.330589,75.554117,77.107061,74.600628,NaN,76.337219,815.0,...,2.857452,41336,74.473912,430,0.828548,0.422472,1.234624,51.342246,22921.0,42.002162
1,1003,Alabama,Baldwin,78.599498,78.208357,78.990639,75.628919,98.039893,78.537003,2827.0,...,4.550200,176582,83.047388,872,0.454512,0.282144,0.626880,51.452772,77060.0,42.279099
2,1005,Alabama,Barbour,75.779457,74.639355,76.919559,74.240228,NaN,77.568384,451.0,...,4.206569,11613,45.955679,297,1.199273,0.580536,1.818011,47.229917,18613.0,67.789635
3,1007,Alabama,Bibb,73.928271,72.624611,75.231931,72.294686,NaN,74.109510,445.0,...,2.638080,16842,74.298571,84,0.394348,0.000000,0.933361,46.453150,15663.0,68.352607
4,1009,Alabama,Blount,74.597767,73.810999,75.384535,NaN,78.577094,74.098247,1050.0,...,9.565097,50439,86.944306,1013,1.870004,1.364180,2.375829,50.688639,51562.0,89.951502

In [4]:
for col in df.columns:
    print(col)

FIPS
State
County
Life Expectancy
95% CI - Low
95% CI - High
Life Expectancy (Black)
Life Expectancy (Hispanic)
Life Expectancy (White)
# Deaths
Age-Adjusted Mortality
95% CI - Low.1
95% CI - High.1
Age-Adjusted Mortality (Black)
Age-Adjusted Mortality (Hispanic)
Age-Adjusted Mortality (White)
# Deaths.1
Child Mortality Rate
95% CI - Low.2
95% CI - High.2
Child Mortality Rate (Black)
Child Mortality Rate (Hispanic)
Child Mortality Rate (White)
# Deaths.2
Infant Mortality Rate
95% CI - Low.3
95% CI - High.3
Infant Mortality Rate (Black)
Infant Mortality Rate (Hispanic)
Infant Mortality Rate (White)
% Frequent Physical Distress
95% CI - Low.4
95% CI - High.4
% Frequent Mental Distress
95% CI - Low.5
95% CI - High.5
% Diabetic
95% CI - Low.6
95% CI - High.6
# HIV Cases
HIV Prevalence Rate
# Food Insecure
% Food Insecure
# Limited Access
% Limited Access
# Drug Overdose Deaths
Drug Overdose Mortality Rate
# Motor Vehicle Deaths
MV Mortality Rate
95% CI - Low.7
95% CI - High.7
% Insufficient Sleep
95% CI - Low.8
95% CI - High.8
# Uninsured
% Uninsured
95% CI - Low.9
95% CI - High.9
# Uninsured.1
% Uninsured.1
95% CI - Low.10
95% CI - High.10
Other PCP Rate
Other PCP Ratio
% Disconnected Youth
Household Income
95% CI - Low.11
95% CI - High.11
Household income (Black)
Household income (Hispanic)
Household income (White)
% Free or Reduced Lunch
Segregation index
Segregation Index
Homicide Rate
95% CI - Low.12
95% CI - High.12
# Firearm Fatalities
Firearm Fatalities Rate
95% CI - Low.13
95% CI - High.13
# Homeowners
% Homeowners
95% CI - Low.14
95% CI - High.14
# Households with Severe Cost Burden
% Severe Housing Cost Burden
95% CI - Low.15
95% CI - High.15
Population
% < 18
% 65 and over
# African American
% African American
# American Indian/Alaskan Native
% American Indian/Alaskan Native
# Asian
% Asian
# Native Hawaiian/Other Pacific Islander
% Native Hawaiian/Other Pacific Islander
# Hispanic
% Hispanic
# Non-Hispanic White
% Non-Hispanic White
# Not Proficient in English
% Not Proficient in English
95% CI - Low.16
95% CI - High.16
% Female
# Rural
% Rural

In [5]:
df_demographics = pd.DataFrame(data={"FIPS":df['FIPS'],
                                     "State":df['State'],
                                     "County":df['County'],
                                     "Population":df['Population'],
                                     "% < 18 Yrs Old":df['% < 18'],
                                     "% 65 Yrs Old and over": df['% 65 and over'],
                                     "Income ($)": df['Household Income'],
                                     "African American (Count)": df['# African American'],
                                     "African American (%)": df['% African American'],
                                     "American Indian/Alaskan Native (Count)": df['# American Indian/Alaskan Native'],
                                     "American Indian/Alaskan Native(%)": df['% American Indian/Alaskan Native'],
                                     "Asian (Count)": df['# Asian'],
                                     "Asian (%)": df['% Asian'],
                                     "Native Hawaiian/Other Pacific Islander (Count)":df['# Native Hawaiian/Other Pacific Islander'], 
                                     "Native Hawaiian/Other Pacific Islander (%)":df['% Native Hawaiian/Other Pacific Islander'], 
                                     "Hispanic (Count)": df['# Hispanic'], 
                                     "Hispanic (%)": df['% Hispanic'], 
                                     "Non-Hispanic White (Count)":df['# Non-Hispanic White'], 
                                     "Non-Hispanic White (%)": df['% Non-Hispanic White'], 
                                     "Female (%)": df['% Female'], 
                                     "Rural (Count)": df['# Rural'], 
                                     "Rural (%)": df['% Rural'],
                                     "Life Expectancy": df['Life Expectancy'],
                                     "Deaths (Count)": df['# Deaths']
                                    })
print(df_demographics.shape)
df_demographics.head(20)

(3142, 24)

,FIPS,State,County,Population,% < 18 Yrs Old,% 65 Yrs Old and over,Income ($),African American (Count),African American (%),American Indian/Alaskan Native (Count),...,Native Hawaiian/Other Pacific Islander (%),Hispanic (Count),Hispanic (%),Non-Hispanic White (Count),Non-Hispanic White (%),Female (%),Rural (Count),Rural (%),Life Expectancy,Deaths (Count)
0,1001,Alabama,Autauga,55504,23.937014,15.119631,58343.0,10687,19.254468,264,...,0.104497,1586,2.857452,41336,74.473912,51.342246,22921.0,42.002162,76.330589,815.0
1,1003,Alabama,Baldwin,212628,21.848487,19.947044,56607.0,19037,8.953195,1650,...,0.068665,9675,4.550200,176582,83.047388,51.452772,77060.0,42.279099,78.599498,2827.0
2,1005,Alabama,Barbour,25270,20.763751,18.824693,32490.0,12115,47.942224,165,...,0.185991,1063,4.206569,11613,45.955679,47.229917,18613.0,67.789635,75.779457,451.0
3,1007,Alabama,Bibb,22668,20.606141,16.022587,45795.0,4864,21.457561,97,...,0.114699,598,2.638080,16842,74.298571,46.453150,15663.0,68.352607,73.928271,445.0
4,1009,Alabama,Blount,58013,23.349939,17.842553,48253.0,847,1.460018,367,...,0.117215,5549,9.565097,50439,86.944306,50.688639,51562.0,89.951502,74.597767,1050.0
5,1011,Alabama,Bullock,10309,20.710059,15.821127,29113.0,7130,69.162867,87,...,0.776021,850,8.245223,2196,21.301775,45.533029,5607.0,51.374382,73.117530,205.0
6,1013,Alabama,Butler,19825,22.733922,19.556116,36842.0,8845,44.615385,75,...,0.050441,285,1.437579,10229,51.596469,53.432535,14921.0,71.232157,73.505385,393.0
7,1015,Alabama,Calhoun,114728,21.789798,17.312252,45937.0,23852,20.790043,607,...,0.112440,4302,3.749739,82961,72.311031,51.930653,39955.0,33.696826,73.102948,2333.0
8,1017,Alabama,Chambers,33713,21.137247,19.078694,36883.0,13313,39.489218,100,...,0.044493,822,2.438229,18710,55.497879,52.125293,16816.0,49.148034,74.122278,691.0
9,1019,Alabama,Cherokee,25857,19.712264,22.616700,44842.0,1090,4.215493,163,...,0.030939,425,1.643655,23707,91.685037,50.319063,22282.0,85.736273,74.346572,575.0
10,1021,Alabama,Chilton,44067,23.875009,16.359180,46405.0,4442,10.080105,241,...,0.172465,3431,7.785872,35335,80.184719,50.827150,37858.0,86.744724,74.192630,850.0
11,1023,Alabama,Choctaw,12945,20.092700,22.742372,36711.0,5389,41.629973,23,...,0.000000,126,0.973349,7309,56.461954,52.715334,13859.0,100.000000,74.284126,273.0
12,1025,Alabama,Clarke,24083,21.878504,19.279160,36719.0,10634,44.155628,119,...,0.016609,319,1.324586,12703,52.746751,52.784122,19628.0,75.980335,75.893744,412.0
13,1027,Alabama,Clay,13367,20.573053,20.243884,39642.0,1849,13.832573,77,...,0.000000,417,3.119623,10761,80.504227,51.051096,13932.0,100.000000,75.393032,271.0
14,1029,Alabama,Cleburne,14900,22.946309,19.107383,45480.0,459,3.080537,69,...,0.073826,361,2.422819,13818,92.738255,50.416107,14972.0,100.000000,73.629785,334.0
15,1031,Alabama,Coffee,51874,23.724795,16.565139,51998.0,8995,17.340093,733,...,0.416394,3684,7.101824,36440,70.247137,50.707484,23573.0,47.195083,77.203136,743.0
16,1033,Alabama,Colbert,54500,21.011009,19.600000,46100.0,8763,16.078899,352,...,0.056881,1390,2.550459,42769,78.475229,52.020183,23891.0,43.894687,74.851027,1016.0
17,1035,Alabama,Conecuh,12469,21.028150,21.918358,30796.0,5758,46.178523,59,...,0.032080,249,1.996952,6223,49.907771,51.968883,10708.0,80.949501,75.033812,272.0
18,1037,Alabama,Coosa,10754,16.403199,22.763623,42442.0,3245,30.174819,63,...,0.167380,261,2.427004,7073,65.770876,49.804724,11539.0,100.000000,73.416101,228.0
19,1039,Alabama,Covington,37092,21.832201,20.664833,39093.0,4606,12.417772,247,...,0.010784,613,1.652647,30936,83.403429,51.773967,26304.0,69.651794,74.215784,754.0

In [6]:
df_demographics.dtypes

FIPS                                                int64
State                                              object
County                                             object
Population                                          int64
% < 18 Yrs Old                                    float64
% 65 Yrs Old and over                             float64
Income ($)                                        float64
African American (Count)                            int64
African American (%)                              float64
American Indian/Alaskan Native (Count)              int64
American Indian/Alaskan Native(%)                 float64
Asian (Count)                                       int64
Asian (%)                                         float64
Native Hawaiian/Other Pacific Islander (Count)      int64
Native Hawaiian/Other Pacific Islander (%)        float64
Hispanic (Count)                                    int64
Hispanic (%)                                      float64
Non-Hispanic White (Count)                          int64
Non-Hispanic White (%)                            float64
Female (%)                                        float64
Rural (Count)                                     float64
Rural (%)                                         float64
Life Expectancy                                   float64
Deaths (Count)                                    float64
dtype: object

In [7]:
type(df_demographics['FIPS'])

pandas.core.series.Series

In [8]:
lyme_df = pd.read_csv(f'{file_path}LymeCaseCountsbyCounty_FIPS.csv', encoding='latin-1')
lyme_df.head(20)

,Ctyname,Ctyname_Updated,Stname,FIPS,STCODE,CTYCODE,Cases2000,Cases2001,Cases2002,Cases2003,...,Cases2010,Cases2011,Cases2012,Cases2013,Cases2014,Cases2015,Cases2016,Cases2017,Cases2018,Cases2019
0,Abbeville County,Abbeville,South Carolina,45001,45,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Acadia Parish,Acadia,Louisiana,22001,22,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Accomack County,Accomack,Virginia,51001,51,1,2,4,5,10,...,3,4,7,7,3,6,5,7,1,1
3,Ada County,Ada,Idaho,16001,16,1,0,0,2,0,...,2,1,0,3,1,2,4,3,0,6
4,Adair County,Adair,Iowa,19001,19,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
5,Adair County,Adair,Kentucky,21001,21,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,Adair County,Adair,Missouri,29001,29,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
7,Adair County,Adair,Oklahoma,40001,40,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Adams County,Adams,Colorado,8001,8,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
9,Adams County,Adams,Idaho,16003,16,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Adams County,Adams,Illinois,17001,17,1,1,0,0,0,...,1,0,0,0,3,1,1,0,2,1
11,Adams County,Adams,Indiana,18001,18,1,0,0,0,1,...,1,0,0,1,1,0,1,0,1,0
12,Adams County,Adams,Iowa,19003,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Adams County,Adams,Mississippi,28001,28,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Adams County,Adams,Nebraska,31001,31,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
15,Adams County,Adams,North Dakota,38001,38,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,Adams County,Adams,Ohio,39001,39,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,3
17,Adams County,Adams,Pennsylvania,42001,42,1,24,17,40,98,...,39,63,61,47,91,120,86,144,137,98
18,Adams County,Adams,Washington,53001,53,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,Adams County,Adams,Wisconsin,55001,55,1,1,2,3,1,...,36,51,29,22,17,26,42,57,6,45

In [9]:
df_lyme_2019 = lyme_df.drop(columns=['STCODE', 'CTYCODE', 'Ctyname', 'Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016','Cases2017','Cases2018'])
df_lyme_2019 = df_lyme_2019.rename(columns={'Ctyname_Updated':'County','Stname':'State'})
print(df_lyme_2019.shape)
df_lyme_2019.head()

(3193, 4)

      County           State   FIPS  Cases2019
0  Abbeville  South Carolina  45001          0
1     Acadia       Louisiana  22001          0
2   Accomack        Virginia  51001          1
3        Ada           Idaho  16001          6
4      Adair            Iowa  19001          0

In [10]:
df_lyme_2019 = df_lyme_2019.sort_values('FIPS')
df_lyme_2019.head(10)

       County    State  FIPS  Cases2019
114   Autauga  Alabama  1001          1
123   Baldwin  Alabama  1003          0
135   Barbour  Alabama  1005          1
206      Bibb  Alabama  1007          0
226    Blount  Alabama  1009          0
315   Bullock  Alabama  1011          0
327    Butler  Alabama  1013          0
352   Calhoun  Alabama  1015          3
449  Chambers  Alabama  1017          2
477  Cherokee  Alabama  1019          0

In [11]:
df_lyme_2019.dtypes

County       object
State        object
FIPS          int64
Cases2019     int64
dtype: object

In [12]:
df_merged = df_lyme_2019.merge(df_demographics, how ='left')


print(df_merged.shape)
df_merged.head(20)

(3193, 25)

,County,State,FIPS,Cases2019,Population,% < 18 Yrs Old,% 65 Yrs Old and over,Income ($),African American (Count),African American (%),...,Native Hawaiian/Other Pacific Islander (%),Hispanic (Count),Hispanic (%),Non-Hispanic White (Count),Non-Hispanic White (%),Female (%),Rural (Count),Rural (%),Life Expectancy,Deaths (Count)
0,Autauga,Alabama,1001,1,55504.0,23.937014,15.119631,58343.0,10687.0,19.254468,...,0.104497,1586.0,2.857452,41336.0,74.473912,51.342246,22921.0,42.002162,76.330589,815.0
1,Baldwin,Alabama,1003,0,212628.0,21.848487,19.947044,56607.0,19037.0,8.953195,...,0.068665,9675.0,4.550200,176582.0,83.047388,51.452772,77060.0,42.279099,78.599498,2827.0
2,Barbour,Alabama,1005,1,25270.0,20.763751,18.824693,32490.0,12115.0,47.942224,...,0.185991,1063.0,4.206569,11613.0,45.955679,47.229917,18613.0,67.789635,75.779457,451.0
3,Bibb,Alabama,1007,0,22668.0,20.606141,16.022587,45795.0,4864.0,21.457561,...,0.114699,598.0,2.638080,16842.0,74.298571,46.453150,15663.0,68.352607,73.928271,445.0
4,Blount,Alabama,1009,0,58013.0,23.349939,17.842553,48253.0,847.0,1.460018,...,0.117215,5549.0,9.565097,50439.0,86.944306,50.688639,51562.0,89.951502,74.597767,1050.0
5,Bullock,Alabama,1011,0,10309.0,20.710059,15.821127,29113.0,7130.0,69.162867,...,0.776021,850.0,8.245223,2196.0,21.301775,45.533029,5607.0,51.374382,73.117530,205.0
6,Butler,Alabama,1013,0,19825.0,22.733922,19.556116,36842.0,8845.0,44.615385,...,0.050441,285.0,1.437579,10229.0,51.596469,53.432535,14921.0,71.232157,73.505385,393.0
7,Calhoun,Alabama,1015,3,114728.0,21.789798,17.312252,45937.0,23852.0,20.790043,...,0.112440,4302.0,3.749739,82961.0,72.311031,51.930653,39955.0,33.696826,73.102948,2333.0
8,Chambers,Alabama,1017,2,33713.0,21.137247,19.078694,36883.0,13313.0,39.489218,...,0.044493,822.0,2.438229,18710.0,55.497879,52.125293,16816.0,49.148034,74.122278,691.0
9,Cherokee,Alabama,1019,0,25857.0,19.712264,22.616700,44842.0,1090.0,4.215493,...,0.030939,425.0,1.643655,23707.0,91.685037,50.319063,22282.0,85.736273,74.346572,575.0
10,Chilton,Alabama,1021,1,44067.0,23.875009,16.359180,46405.0,4442.0,10.080105,...,0.172465,3431.0,7.785872,35335.0,80.184719,50.827150,37858.0,86.744724,74.192630,850.0
11,Choctaw,Alabama,1023,0,12945.0,20.092700,22.742372,36711.0,5389.0,41.629973,...,0.000000,126.0,0.973349,7309.0,56.461954,52.715334,13859.0,100.000000,74.284126,273.0
12,Clarke,Alabama,1025,0,24083.0,21.878504,19.279160,36719.0,10634.0,44.155628,...,0.016609,319.0,1.324586,12703.0,52.746751,52.784122,19628.0,75.980335,75.893744,412.0
13,Clay,Alabama,1027,0,13367.0,20.573053,20.243884,39642.0,1849.0,13.832573,...,0.000000,417.0,3.119623,10761.0,80.504227,51.051096,13932.0,100.000000,75.393032,271.0
14,Cleburne,Alabama,1029,1,14900.0,22.946309,19.107383,45480.0,459.0,3.080537,...,0.073826,361.0,2.422819,13818.0,92.738255,50.416107,14972.0,100.000000,73.629785,334.0
15,Coffee,Alabama,1031,0,51874.0,23.724795,16.565139,51998.0,8995.0,17.340093,...,0.416394,3684.0,7.101824,36440.0,70.247137,50.707484,23573.0,47.195083,77.203136,743.0
16,Colbert,Alabama,1033,2,54500.0,21.011009,19.600000,46100.0,8763.0,16.078899,...,0.056881,1390.0,2.550459,42769.0,78.475229,52.020183,23891.0,43.894687,74.851027,1016.0
17,Conecuh,Alabama,1035,0,12469.0,21.028150,21.918358,30796.0,5758.0,46.178523,...,0.032080,249.0,1.996952,6223.0,49.907771,51.968883,10708.0,80.949501,75.033812,272.0
18,Coosa,Alabama,1037,1,10754.0,16.403199,22.763623,42442.0,3245.0,30.174819,...,0.167380,261.0,2.427004,7073.0,65.770876,49.804724,11539.0,100.000000,73.416101,228.0
19,Covington,Alabama,1039,0,37092.0,21.832201,20.664833,39093.0,4606.0,12.417772,...,0.010784,613.0,1.652647,30936.0,83.403429,51.773967,26304.0,69.651794,74.215784,754.0

In [13]:
# Check for null values
for col in df_merged:
    print(f'{col} has {df_merged[col].isnull().sum()} nulls')

County has 0 nulls
State has 0 nulls
FIPS has 0 nulls
Cases2019 has 0 nulls
Population has 84 nulls
% < 18 Yrs Old has 84 nulls
% 65 Yrs Old and over has 84 nulls
Income ($) has 85 nulls
African American (Count) has 84 nulls
African American (%) has 84 nulls
American Indian/Alaskan Native (Count) has 84 nulls
American Indian/Alaskan Native(%) has 84 nulls
Asian (Count) has 84 nulls
Asian (%) has 84 nulls
Native Hawaiian/Other Pacific Islander (Count) has 84 nulls
Native Hawaiian/Other Pacific Islander (%) has 84 nulls
Hispanic (Count) has 84 nulls
Hispanic (%) has 84 nulls
Non-Hispanic White (Count) has 84 nulls
Non-Hispanic White (%) has 84 nulls
Female (%) has 84 nulls
Rural (Count) has 91 nulls
Rural (%) has 91 nulls
Life Expectancy has 153 nulls
Deaths (Count) has 145 nulls

In [15]:
# Drop rows with NaNs
df_merged = df_merged.dropna()

In [16]:
print(f'Are there any null values? {df_merged.isnull().values.any()}')
print(df_merged.shape)
df_merged.head(20)

Are there any null values? False
(3022, 25)

,County,State,FIPS,Cases2019,Population,% < 18 Yrs Old,% 65 Yrs Old and over,Income ($),African American (Count),African American (%),...,Native Hawaiian/Other Pacific Islander (%),Hispanic (Count),Hispanic (%),Non-Hispanic White (Count),Non-Hispanic White (%),Female (%),Rural (Count),Rural (%),Life Expectancy,Deaths (Count)
0,Autauga,Alabama,1001,1,55504.0,23.937014,15.119631,58343.0,10687.0,19.254468,...,0.104497,1586.0,2.857452,41336.0,74.473912,51.342246,22921.0,42.002162,76.330589,815.0
1,Baldwin,Alabama,1003,0,212628.0,21.848487,19.947044,56607.0,19037.0,8.953195,...,0.068665,9675.0,4.550200,176582.0,83.047388,51.452772,77060.0,42.279099,78.599498,2827.0
2,Barbour,Alabama,1005,1,25270.0,20.763751,18.824693,32490.0,12115.0,47.942224,...,0.185991,1063.0,4.206569,11613.0,45.955679,47.229917,18613.0,67.789635,75.779457,451.0
3,Bibb,Alabama,1007,0,22668.0,20.606141,16.022587,45795.0,4864.0,21.457561,...,0.114699,598.0,2.638080,16842.0,74.298571,46.453150,15663.0,68.352607,73.928271,445.0
4,Blount,Alabama,1009,0,58013.0,23.349939,17.842553,48253.0,847.0,1.460018,...,0.117215,5549.0,9.565097,50439.0,86.944306,50.688639,51562.0,89.951502,74.597767,1050.0
5,Bullock,Alabama,1011,0,10309.0,20.710059,15.821127,29113.0,7130.0,69.162867,...,0.776021,850.0,8.245223,2196.0,21.301775,45.533029,5607.0,51.374382,73.117530,205.0
6,Butler,Alabama,1013,0,19825.0,22.733922,19.556116,36842.0,8845.0,44.615385,...,0.050441,285.0,1.437579,10229.0,51.596469,53.432535,14921.0,71.232157,73.505385,393.0
7,Calhoun,Alabama,1015,3,114728.0,21.789798,17.312252,45937.0,23852.0,20.790043,...,0.112440,4302.0,3.749739,82961.0,72.311031,51.930653,39955.0,33.696826,73.102948,2333.0
8,Chambers,Alabama,1017,2,33713.0,21.137247,19.078694,36883.0,13313.0,39.489218,...,0.044493,822.0,2.438229,18710.0,55.497879,52.125293,16816.0,49.148034,74.122278,691.0
9,Cherokee,Alabama,1019,0,25857.0,19.712264,22.616700,44842.0,1090.0,4.215493,...,0.030939,425.0,1.643655,23707.0,91.685037,50.319063,22282.0,85.736273,74.346572,575.0
10,Chilton,Alabama,1021,1,44067.0,23.875009,16.359180,46405.0,4442.0,10.080105,...,0.172465,3431.0,7.785872,35335.0,80.184719,50.827150,37858.0,86.744724,74.192630,850.0
11,Choctaw,Alabama,1023,0,12945.0,20.092700,22.742372,36711.0,5389.0,41.629973,...,0.000000,126.0,0.973349,7309.0,56.461954,52.715334,13859.0,100.000000,74.284126,273.0
12,Clarke,Alabama,1025,0,24083.0,21.878504,19.279160,36719.0,10634.0,44.155628,...,0.016609,319.0,1.324586,12703.0,52.746751,52.784122,19628.0,75.980335,75.893744,412.0
13,Clay,Alabama,1027,0,13367.0,20.573053,20.243884,39642.0,1849.0,13.832573,...,0.000000,417.0,3.119623,10761.0,80.504227,51.051096,13932.0,100.000000,75.393032,271.0
14,Cleburne,Alabama,1029,1,14900.0,22.946309,19.107383,45480.0,459.0,3.080537,...,0.073826,361.0,2.422819,13818.0,92.738255,50.416107,14972.0,100.000000,73.629785,334.0
15,Coffee,Alabama,1031,0,51874.0,23.724795,16.565139,51998.0,8995.0,17.340093,...,0.416394,3684.0,7.101824,36440.0,70.247137,50.707484,23573.0,47.195083,77.203136,743.0
16,Colbert,Alabama,1033,2,54500.0,21.011009,19.600000,46100.0,8763.0,16.078899,...,0.056881,1390.0,2.550459,42769.0,78.475229,52.020183,23891.0,43.894687,74.851027,1016.0
17,Conecuh,Alabama,1035,0,12469.0,21.028150,21.918358,30796.0,5758.0,46.178523,...,0.032080,249.0,1.996952,6223.0,49.907771,51.968883,10708.0,80.949501,75.033812,272.0
18,Coosa,Alabama,1037,1,10754.0,16.403199,22.763623,42442.0,3245.0,30.174819,...,0.167380,261.0,2.427004,7073.0,65.770876,49.804724,11539.0,100.000000,73.416101,228.0
19,Covington,Alabama,1039,0,37092.0,21.832201,20.664833,39093.0,4606.0,12.417772,...,0.010784,613.0,1.652647,30936.0,83.403429,51.773967,26304.0,69.651794,74.215784,754.0

In [17]:
# Export Merged DF as csv
df_merged.to_csv('Data/Merged_Demographic_Data.csv')