In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
file_path = "Data/"

In [8]:
df = pd.read_excel(f'{file_path}2019 County Health Rankings Data - v3.xls', header=1, sheet_name=5)
df.head()

,FIPS,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),# Deaths,...,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low.16,95% CI - High.16,% Female,# Rural,% Rural
0,1001,Alabama,Autauga,76.330589,75.554117,77.107061,74.600628,NaN,76.337219,815.0,...,2.857452,41336,74.473912,430,0.828548,0.422472,1.234624,51.342246,22921.0,42.002162
1,1003,Alabama,Baldwin,78.599498,78.208357,78.990639,75.628919,98.039893,78.537003,2827.0,...,4.550200,176582,83.047388,872,0.454512,0.282144,0.626880,51.452772,77060.0,42.279099
2,1005,Alabama,Barbour,75.779457,74.639355,76.919559,74.240228,NaN,77.568384,451.0,...,4.206569,11613,45.955679,297,1.199273,0.580536,1.818011,47.229917,18613.0,67.789635
3,1007,Alabama,Bibb,73.928271,72.624611,75.231931,72.294686,NaN,74.109510,445.0,...,2.638080,16842,74.298571,84,0.394348,0.000000,0.933361,46.453150,15663.0,68.352607
4,1009,Alabama,Blount,74.597767,73.810999,75.384535,NaN,78.577094,74.098247,1050.0,...,9.565097,50439,86.944306,1013,1.870004,1.364180,2.375829,50.688639,51562.0,89.951502

In [15]:
print(list(df.columns))

['FIPS', 'State', 'County', 'Life Expectancy', '95% CI - Low', '95% CI - High', 'Life Expectancy (Black)', 'Life Expectancy (Hispanic)', 'Life Expectancy (White)', '# Deaths', 'Age-Adjusted Mortality', '95% CI - Low.1', '95% CI - High.1', 'Age-Adjusted Mortality (Black)', 'Age-Adjusted Mortality (Hispanic)', 'Age-Adjusted Mortality (White)', '# Deaths.1', 'Child Mortality Rate', '95% CI - Low.2', '95% CI - High.2', 'Child Mortality Rate (Black)', 'Child Mortality Rate (Hispanic)', 'Child Mortality Rate (White)', '# Deaths.2', 'Infant Mortality Rate', '95% CI - Low.3', '95% CI - High.3', 'Infant Mortality Rate (Black)', 'Infant Mortality Rate (Hispanic)', 'Infant Mortality Rate (White)', '% Frequent Physical Distress', '95% CI - Low.4', '95% CI - High.4', '% Frequent Mental Distress', '95% CI - Low.5', '95% CI - High.5', '% Diabetic', '95% CI - Low.6', '95% CI - High.6', '# HIV Cases', 'HIV Prevalence Rate', '# Food Insecure', '% Food Insecure', '# Limited Access', '% Limited Access', '# Drug Overdose Deaths', 'Drug Overdose Mortality Rate', '# Motor Vehicle Deaths', 'MV Mortality Rate', '95% CI - Low.7', '95% CI - High.7', '% Insufficient Sleep', '95% CI - Low.8', '95% CI - High.8', '# Uninsured', '% Uninsured', '95% CI - Low.9', '95% CI - High.9', '# Uninsured.1', '% Uninsured.1', '95% CI - Low.10', '95% CI - High.10', 'Other PCP Rate', 'Other PCP Ratio', '% Disconnected Youth', 'Household Income', '95% CI - Low.11', '95% CI - High.11', 'Household income (Black)', 'Household income (Hispanic)', 'Household income (White)', '% Free or Reduced Lunch', 'Segregation index', 'Segregation Index', 'Homicide Rate', '95% CI - Low.12', '95% CI - High.12', '# Firearm Fatalities', 'Firearm Fatalities Rate', '95% CI - Low.13', '95% CI - High.13', '# Homeowners', '% Homeowners', '95% CI - Low.14', '95% CI - High.14', '# Households with Severe Cost Burden', '% Severe Housing Cost Burden', '95% CI - Low.15', '95% CI - High.15', 'Population', '% < 18', '% 65 and over', '# African American', '% African American', '# American Indian/Alaskan Native', '% American Indian/Alaskan Native', '# Asian', '% Asian', '# Native Hawaiian/Other Pacific Islander', '% Native Hawaiian/Other Pacific Islander', '# Hispanic', '% Hispanic', '# Non-Hispanic White', '% Non-Hispanic White', '# Not Proficient in English', '% Not Proficient in English', '95% CI - Low.16', '95% CI - High.16', '% Female', '# Rural', '% Rural']

In [39]:
df_demographics = pd.DataFrame(data={"FIPS":df['FIPS'],
                                     "State":df['State'],
                                     "County":df['County'],
                                     "Population":df['Population'],
                                     "% < 18 Yrs Old":df['% < 18'],
                                     "% 65 Yrs Old and over": df['% 65 and over'],
                                     "African American (Count)": df['# African American'],
                                     "African American (%)": df['% African American'],
                                     "American Indian/Alaskan Native (Count)": df['# American Indian/Alaskan Native'],
                                     "American Indian/Alaskan Native(%)": df['% American Indian/Alaskan Native'],
                                     "Asian (Count)": df['# Asian'],
                                     "Asian (%)": df['% Asian'],
                                     "Native Hawaiian/Other Pacific Islander (Count)":df['# Native Hawaiian/Other Pacific Islander'], 
                                     "Native Hawaiian/Other Pacific Islander (%)":df['% Native Hawaiian/Other Pacific Islander'], 
                                     "Hispanic (Count)": df['# Hispanic'], 
                                     "Hispanic (%)": df['% Hispanic'], 
                                     "Non-Hispanic White (Count)":df['# Non-Hispanic White'], 
                                     "Non-Hispanic White (%)": df['% Non-Hispanic White'], 
                                     "Female (%)": df['% Female'], 
                                     "Rural (Count)": df['# Rural'], 
                                     "Rural (%)": df['% Rural'],
                                     "Life Expectancy": df['Life Expectancy'], 
                                     "Life Expectancy (Black)": df['Life Expectancy (Black)'], 
                                     "Life Expectancy (Hispanic)": df['Life Expectancy (Hispanic)'], 
                                     "Life Expectancy (White)": df['Life Expectancy (White)'], 
                                     "Deaths (Count)": df['# Deaths']
                                    })
print(df_demographics.shape)
df_demographics.sample(20)

(3142, 26)

,FIPS,State,County,Population,% < 18 Yrs Old,% 65 Yrs Old and over,African American (Count),African American (%),American Indian/Alaskan Native (Count),American Indian/Alaskan Native(%),...,Non-Hispanic White (Count),Non-Hispanic White (%),Female (%),Rural (Count),Rural (%),Life Expectancy,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),Deaths (Count)
627,17065,Illinois,Hamilton,8194,22.247986,21.515743,45,0.549182,34,0.414938,...,7900,96.412009,51.098365,5759.0,68.097434,77.812557,NaN,NaN,NaN,130.0
132,5043,Arkansas,Drew,18547,21.696231,17.032404,5212,28.101580,93,0.501429,...,12303,66.334178,51.248180,8997.0,48.608785,74.912321,73.910195,NaN,74.961776,321.0
2822,51005,Virginia,Alleghany,15122,19.025261,24.130406,696,4.602566,44,0.290967,...,13853,91.608253,51.130803,8514.0,52.393846,77.341088,NaN,NaN,NaN,289.0
2725,48405,Texas,San Augustine,8253,19.762511,25.408942,1799,21.798134,63,0.763359,...,5703,69.102145,50.660366,8865.0,100.000000,73.122114,70.508158,NaN,73.217575,191.0
2040,38101,North Dakota,Ward,68946,23.363212,12.377803,3028,4.391843,1638,2.375772,...,57092,82.806834,47.123836,13504.0,21.895420,80.977696,85.244160,76.380140,81.373391,551.0
1720,31133,Nebraska,Pawnee,2641,21.052632,28.436198,15,0.567967,8,0.302916,...,2515,95.229080,50.814086,2773.0,100.000000,81.637426,NaN,NaN,NaN,31.0
1953,37127,North Carolina,Nash,93991,22.273409,18.040025,37671,40.079369,919,0.977753,...,46793,49.784554,52.077327,45584.0,47.562604,75.344097,74.040383,98.885082,75.746148,1632.0
204,6037,California,Los Angeles,10163507,21.891115,13.223388,811360,7.983071,146754,1.443931,...,2665294,26.224157,50.707625,59424.0,0.605218,82.209687,75.835551,84.394930,80.909096,83305.0
1022,21059,Kentucky,Daviess,100374,24.411700,16.648734,4759,4.741268,167,0.166378,...,88769,88.438241,51.313089,26113.0,27.016429,76.723464,75.464235,88.628466,76.644488,1483.0
2699,48353,Texas,Nolan,14770,26.113744,17.941774,654,4.427894,179,1.211916,...,8150,55.179418,50.155721,4969.0,32.656414,75.558017,NaN,77.797102,74.503780,245.0
1967,37155,North Carolina,Robeson,132606,25.106707,14.752726,30975,23.358672,54795,41.321660,...,33526,25.282416,51.760855,84007.0,62.613291,73.401260,72.114495,97.050488,73.347951,2515.0
1239,26017,Michigan,Bay,104239,20.411746,19.875478,1665,1.597291,655,0.628364,...,93892,90.073773,50.798645,32667.0,30.311494,77.326904,76.136381,79.103759,77.311868,1580.0
3130,56023,Wyoming,Lincoln,19265,26.851804,16.620815,95,0.493122,196,1.017389,...,17820,92.499351,49.073449,14979.0,82.729482,80.873249,NaN,NaN,NaN,183.0
5,1011,Alabama,Bullock,10309,20.710059,15.821127,7130,69.162867,87,0.843923,...,2196,21.301775,45.533029,5607.0,51.374382,73.117530,71.151798,NaN,77.601183,205.0
1491,29017,Missouri,Bollinger,12306,21.940517,19.811474,60,0.487567,99,0.804486,...,11829,96.123842,50.000000,12363.0,100.000000,75.724179,NaN,NaN,NaN,226.0
2885,51137,Virginia,Orange,36073,21.276301,20.250603,4702,13.034680,190,0.526710,...,28172,78.097192,51.251629,19345.0,57.779039,77.567857,77.706952,NaN,77.167576,524.0
647,17105,Illinois,Livingston,36518,21.400405,18.530588,1665,4.559395,106,0.290268,...,32405,88.737061,49.581029,15893.0,40.803594,77.192586,76.517435,NaN,76.870262,527.0
1511,29057,Missouri,Dade,7588,21.178176,23.260411,26,0.342646,74,0.975224,...,7111,93.713759,49.090669,7883.0,100.000000,77.070235,NaN,NaN,NaN,134.0
1023,21061,Kentucky,Edmonson,12226,18.755112,20.399149,224,1.832161,50,0.408965,...,11618,95.026992,49.901849,12161.0,100.000000,76.445525,NaN,NaN,NaN,222.0
2037,38095,North Dakota,Towner,2253,21.216156,23.834887,8,0.355082,108,4.793609,...,2082,92.410120,49.489569,2246.0,100.000000,81.141751,NaN,NaN,NaN,28.0

In [37]:
df_demographics['FIPS'].nunique

<bound method IndexOpsMixin.nunique of 0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3137    56037
3138    56039
3139    56041
3140    56043
3141    56045
Name: FIPS, Length: 3142, dtype: int64>

In [41]:
type(df_demographics['FIPS'])

pandas.core.series.Series

In [44]:
fips_index = {"Counties":df_demographics['FIPS']}

{'Counties':        FIPS
0      1001
1      1003
2      1005
3      1007
4      1009
...     ...
3137  56037
3138  56039
3139  56041
3140  56043
3141  56045

[3142 rows x 1 columns]}

In [33]:
# Import Lyme Case Counts by County
df_lyme_incidence = pd.read_csv(f'{file_path}LymeCaseCountsbyCounty.csv', encoding='latin-1')

df_lyme_2019 = df_lyme_incidence.drop(columns=['STCODE', 'Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016','Cases2017','Cases2018'])
df_lyme_2019 = df_lyme_2019.rename(columns={'Ctyname':'County','Stname':'State'})
print(df_lyme_2019.shape)
df_lyme_2019.head()

(3193, 4)

           County    State  CTYCODE  Cases2019
0  Autauga County  Alabama        1          1
1  Baldwin County  Alabama        3          0
2  Barbour County  Alabama        5          1
3     Bibb County  Alabama        7          0
4   Blount County  Alabama        9          0

In [46]:
df_lyme_2019.nunique()

County       1928
State          51
CTYCODE       326
Cases2019     171
dtype: int64

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 999,
 13,
 16,
 20,
 50,
 60,
 68,
 70,
 90,
 100,
 105,
 110,
 122,
 130,
 150,
 158,
 164,
 170,
 180,
 185,
 188,
 195,
 198,
 220,
 230,
 240,
 261,
 275,
 282,
 290,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 12,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 14,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 999,
 1,
 3,
 5,
 999,
 1,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 86,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 999,
 1,
 3,
 5,
 7,
 9,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 999,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 ...]