In [1]:
# Import Dependencies 
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
import psycopg2

In [2]:
# database connection string
# sqlite


engine = create_engine("sqlite:///../lyme.sqlite")

In [3]:
# Reflect an existing database into a new model - transfer contents of database into a different structure of data
Base = automap_base()
# Reflect the schema of our SQLite tables into our code and create mappings
Base.prepare(engine, reflect=True)
Base.classes.keys()

['LymeCaseCountsbyCounty_FIPS', 'ML_Demographic_LymeCase_HealthRank']

In [4]:
# read sql
pd.read_sql('SELECT * FROM LymeCaseCountsbyCounty_FIPS', engine)

,Ctyname,Ctyname_Updated,Stname,UniqueIdentifier,FIPS,STCODE,CTYCODE,Cases2000,Cases2001,Cases2002,...,Cases2010,Cases2011,Cases2012,Cases2013,Cases2014,Cases2015,Cases2016,Cases2017,Cases2018,Cases2019
0,Autauga County,Autauga,Alabama,Alabama | Autauga,1001,1,1,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,Baldwin County,Baldwin,Alabama,Alabama | Baldwin,1003,1,3,1,0,1,...,0,1,1,0,3,1,2,2,0,0
2,Barbour County,Barbour,Alabama,Alabama | Barbour,1005,1,5,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,Bibb County,Bibb,Alabama,Alabama | Bibb,1007,1,7,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Blount County,Blount,Alabama,Alabama | Blount,1009,1,9,0,0,0,...,0,1,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Oklahoma,Oklahoma,Oklahoma,Oklahoma | Oklahoma,99948,40,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3188,New York,New York,New York,New York | New York,99949,36,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3189,Iowa,Iowa,Iowa,Iowa | Iowa,99950,19,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3190,Hawaii,Hawaii,Hawaii,Hawaii | Hawaii,99951,15,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3191,Idaho,Idaho,Idaho,Idaho | Idaho,99952,16,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
pd.read_sql('Select * FROM ML_Demographic_LymeCase_HealthRank', engine)

,FIPS,Lifespan_Rank,Life_Quality_Rank,Health_Behaviors_Rank,Clinical_Care_Rank,Social_Economic_Factors_Rank,Physical_Environment_Rank,Lyme_Disease_Incidence_Reported,Population,%<18_Yrs_Old,...,Native_Hawaiian/Other_Pacific_Islander(%),Hispanic(Count),Hispanic(%),Non-Hispanic_White_(Count),Non-Hispanic_White(%),Female(%),Rural(Count),Rural(%),Life_Expectancy,Deaths(Count)
0,1001,8,5,15,14,5,50,1.0,55504.0,23.94,...,0.10,1586.0,2.86,41336.0,74.47,51.34,22921.0,42.00,76.33,815.0
1,1003,3,4,3,4,3,62,0.0,212628.0,21.85,...,0.07,9675.0,4.55,176582.0,83.05,51.45,77060.0,42.28,78.60,2827.0
2,1005,14,48,53,30,61,32,1.0,25270.0,20.76,...,0.19,1063.0,4.21,11613.0,45.96,47.23,18613.0,67.79,75.78,451.0
3,1007,47,24,38,16,38,31,0.0,22668.0,20.61,...,0.11,598.0,2.64,16842.0,74.30,46.45,15663.0,68.35,73.93,445.0
4,1009,36,14,10,41,15,53,0.0,58013.0,23.35,...,0.12,5549.0,9.57,50439.0,86.94,50.69,51562.0,89.95,74.60,1050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008,56037,14,19,19,16,21,18,0.0,43534.0,26.52,...,0.14,7074.0,16.25,34548.0,79.36,48.45,4782.0,10.92,77.84,495.0
3009,56039,1,2,1,1,1,14,0.0,23265.0,18.80,...,0.13,3486.0,14.98,19008.0,81.70,48.10,9887.0,46.43,87.44,124.0
3010,56041,16,22,18,14,17,23,0.0,20495.0,29.21,...,0.18,1878.0,9.16,17928.0,87.47,49.57,9101.0,43.10,78.40,262.0
3011,56043,5,14,7,21,10,5,0.0,8064.0,23.81,...,0.11,1149.0,14.25,6647.0,82.43,49.47,3068.0,35.95,80.47,108.0
3012,56045,2,4,16,17,13,6,0.0,6927.0,20.86,...,0.03,290.0,4.19,6300.0,90.95,47.54,3931.0,54.54,81.60,82.0