In [2]:
# Import Dependencies 
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
from config import db_password
import psycopg2

In [3]:
# database connection string
#db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Lyme_Database"

# sqlite
engine = create_engine("sqlite:///Resources/lyme.sqlite")

# psycopg2
#conn = create_engine('postgresql+psycopg2://christinabay@127.0.0.1:5432/Lyme_Database')

# psycopg2
#conn = psycopg2.connect(host="127.0.0.1", port = 5432, database="Lyme_Disease", user="christinabay", password="B@y7777!")

In [4]:
# Reflect an existing database into a new model - transfer contents of database into a different structure of data
Base = automap_base()
# Reflect the schema of our SQLite tables into our code and create mappings
Base.prepare(engine, reflect=True)
Base.classes.keys()

['LymeCaseCountsbyCounty_FIPS']

In [5]:
# read sql
pd.read_sql('SELECT * FROM LymeCaseCountsbyCounty_FIPS', engine)

,Ctyname,Ctyname_Updated,Stname,UniqueIdentifier,FIPS,STCODE,CTYCODE,Cases2000,Cases2001,Cases2002,...,Cases2010,Cases2011,Cases2012,Cases2013,Cases2014,Cases2015,Cases2016,Cases2017,Cases2018,Cases2019
0,Autauga County,Autauga,Alabama,Alabama | Autauga,1001,1,1,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,Baldwin County,Baldwin,Alabama,Alabama | Baldwin,1003,1,3,1,0,1,...,0,1,1,0,3,1,2,2,0,0
2,Barbour County,Barbour,Alabama,Alabama | Barbour,1005,1,5,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,Bibb County,Bibb,Alabama,Alabama | Bibb,1007,1,7,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Blount County,Blount,Alabama,Alabama | Blount,1009,1,9,0,0,0,...,0,1,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Oklahoma,Oklahoma,Oklahoma,Oklahoma | Oklahoma,99948,40,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3188,New York,New York,New York,New York | New York,99949,36,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3189,Iowa,Iowa,Iowa,Iowa | Iowa,99950,19,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3190,Hawaii,Hawaii,Hawaii,Hawaii | Hawaii,99951,15,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3191,Idaho,Idaho,Idaho,Idaho | Idaho,99952,16,999,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# create database engine
#engine = create_engine(db_string)

In [ ]:
# create a session 

# Save references to each table
# In order to reference a specific class, we use Base.classes.<class name> and assign to variable 
#Demographic = Base.classes.casecount
# Create a session link to the database using SQLAlchemy Session to query database
#session = Session(engine)

In [ ]:
# Create a cursor object
cur = conn.cursor()

# A sample query of all data from the "vendors" table in the "suppliers" database
cur.execute("""SELECT * FROM vendors""")
query_results = cur.fetchall()
print(query_results)